
<h1>One's PomoTimer</h1>

<div data-controller="timer">
  <div data-timer-target="display" class="timer-display">25:00</div>

  <button data-action="click->timer#start" data-timer-target="startButton" class="start-button">START</button>

  <div class="button-group">
    <button data-action="click->timer#stop" data-timer-target="stopButton" disabled>STOP</button>
    <button data-action="click->timer#reset" data-timer-target="resetButton">RESET</button>
  </div>

  <div class="input-group">
    <label><span>作業時間 </span><input type="number" data-action="change->timer#updateStudyTime" value="25"></label>
    <label><span>小休憩 </span><input type="number" data-action="change->timer#updateShortBreakTime" value="5"></label>
    <label><span>大休憩 </span><input type="number" data-action="change->timer#updateLongBreakTime" value="15"></label>
    <label><span>ポモドーロセット数 </span><input type="number" data-action="change->timer#updateSetCountBeforeLongBreak" value="4"></label>
  </div>
</div>
