/*
 *= require_tree .
 *= require_self
 */
/* ヘッダー部分のスタイル */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ロゴ部分のスタイル */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.logo:hover {
  color: #FFA726;
}

/* ナビゲーション部分のスタイル */
.nav {
  display: flex;
  gap: 20px;
}

/* ナビゲーションのリンクのスタイル */
.nav-link {
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}

/* ナビゲーションのリンクにカーソルを合わせたときのスタイル */
.nav-link:hover {
  color: #0099ff;
}

.logout-form {
  display: inline-block;
}

.logout-button {
  font-size: 16px;
  color: #333333;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  color:#0099ff;
}
