/* 共通のスタイル */
body {
  font-family: Arial, sans-serif;
  max-width: 1920px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 40px;
}

/* コンポーネントのスタイル */
/* タイマーの表示部分 */
.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  width: auto;
  height: 230px;

  font-size: 96px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 15px;

  color: #4A3434;
  background-color: rgba(255, 0, 0, 0.5);
}

/* ボタン */
.button-group {
  display: flex;
  justify-content: space-around;

  margin-top: 20px;
}

.button-group button{
  width:140px;
  height:35px;

  font-size: 18px;
  letter-spacing: 5px;
  border-radius:7px;
}

.button-group button {
  border: solid black 0.3px;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width:210px;
  height:50px;
  background-color: rgba(255,0,0,0.8);
  font-size: 20px;
  letter-spacing: 12px;
  border-radius:10px;
  border:none;
}

.start-button[disabled] {
  background-color:rgba(255,0,0,0.2);
}

/* ボタンをクリックするとへこむ効果 */
.button-group button:focus,
.start-button:focus {
    outline:none; /* アウトラインなし */
    transform:scale(0.95); /* 少し縮小する */
}

.start-button[disabled] {
    background-color:rgba(255,0,0,0.2);
    transform:none;
}

/* 入力欄とラベル */
.input-group {
    display:flex; /* フレックスボックスにする */
    justify-content:space-around; /* 横方向の均等配置 */

    margin-top:20px; 
}

.input-group label {
    display:flex; /* フレックスボックスにする */
    flex-direction:column; /* 縦方向にする */
    align-items:center; /* 中央寄せにする */
}

.input-group input {
    width:140px; /* 入力欄の幅 */
    height:35px; /* 入力欄の高さ */

    text-align:center; /* 中央寄せ */

    font-size:16px; /* フォントサイズ */

    background:#D7D7D7; /* 背景色 */
}

.input-group input::placeholder {
    font-style:normal;
    font-weight:400;
    line-height:normal;
    letter-spacing:3.6px;
}

.input-group label span {
    font-size:13px; /* フォントサイズ */
    letter-spacing:2.7px; /* 文字間隔 */
}
