/* 共通のスタイル */
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #F5F5F5;
  max-width: 1920px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 40px;
}

:root {
  --primary-color: #FFA726;
  --secondary-color: #2196F3;
}

/* タイマーの表示部分 */
.timer-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  width: auto;
  height: 230px;

  font-size: 120px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 15px;

  color:  #4A3434;
  background-color: var(--primary-color);
}

/* ボタン */
.button-group {
  display: flex;
  justify-content: space-around;

  margin-top: 20px;
}

.button-group button{
  width:140px;
  height:35px;

  font-size: 18px;
  letter-spacing: 5px;
  border-radius:7px;
  border: none;

  background-color: #FF9800;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width:210px;
  height:50px;
  background-color: #eb4f34;
  font-size: 20px;
  letter-spacing: 12px;
  border-radius:10px;
  border:none;
}

/* ボタンをクリックするとへこむ効果 */
.button-group button:focus,
.start-button:focus {
  outline:none;
  transform:scale(0.95); /* 少し縮小する */
}

.button-group button:hover,
.button-group button:focus {
  background-color: #FFA726;
}

.start-button[disabled] {
  background-color:rgba(33,150,243,0.2);
  transform:none;
}

/* 入力欄とラベル */
.input-group {
  display:flex;
  justify-content:space-around;

  margin-top:20px;
}

.input-group label {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.input-group input {
  width:140px;
  height:35px;

  text-align:center;

  font-size:16px;

  background:#D7D7D7;
}

.input-group input::placeholder {
  font-style:normal;
  font-weight:400;
  line-height:normal;
  letter-spacing:3.6px;
}

.input-group label span {
  font-size:14px;
  letter-spacing:2.8px;
}

/* モバイル端末向けのメディアクエリ */
@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  .timer-display {
    height: 150px;
    font-size: 80px;
    letter-spacing: 10px;
  }

  .start-button {
    margin-top: 20px;
    width:140px;
    height:35px;
    font-size:18px;
    letter-spacing: 5px;
    border-radius:7px;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group label {
    margin-bottom: 10px;
  }
}